@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
body{
    display: grid;
    align-content: center;
    justify-items: center;
    height: calc(100vh - 0.1px);
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: hsl(221, 100%, 96%);
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    background-color:hsl(0, 0%, 100%);
    border-top-right-radius:1.5rem;
    border-bottom-right-radius:1.5rem;
    border-radius: 1.5rem;
    margin: 0;
    padding: 0;
}

.one{
    display: grid;
    border-radius: 1.5em;
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    text-align: center;
    justify-items: center;
    padding: 30px;
    width: 250px;
}
h1{
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    font-size: 60px;
    margin-bottom: -10px;
    margin-top: -1px;
}
.one h2{
    color: hsl(241, 100%, 89%);
}
.score{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 77%, 42%, 0.99));
    border-radius: 700em;
    background-color: white;
    width: 40%;
    height: auto;
    padding: 20px;
}
.score span{
    color: hsl(241, 100%, 89%);
}
.one h3{
    color: hsl(0, 0%, 100%);
    margin-top: 25px;
}
.one p{
    color:hsl(241, 100%, 89%);
    margin-top: -20px;
}
p{
    font-size: 18px;
}
.two{
    display: grid;
    padding: 30px;
}
.two h2{
    color: (224, 30%, 27%);
    margin-top: -1px;
}
#reaction, #memory, #verbal, #visual{
    margin-top: -1px;
}
button{
    margin-top: 12px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: hsl(224, 30%, 27%);
    border-color: hsl(224, 30%, 27%);;
    color:hsl(0, 0%, 100%);
    border-radius: 4.5em;
    border: none;
}

#two{
    margin-left: 100px;
}
#one{
    margin-left: 20px
}
#visual #two{
    margin-left: 120px;
}
#verbal #two{
    margin-left:115px;
}

#reaction{
    background-color:hsl(0, 100%, 67%,0.05);
    border-radius: 0.5rem;
    padding: 10px;
    color: hsl(0, 100%, 67%);
}

#memory{
    background-color:hsl(39, 91%, 91%,0.35);
    border-radius: 0.5rem;
    padding: 10px;
    color: hsl(39, 100%, 56%);
}
#verbal{
    background-color:hsl(166, 76%, 85%,0.35);
    border-radius: 0.5rem;
    padding: 10px;
    color: hsl(166, 100%, 37%);
}
#visual{
    background-color:hsl(234, 91%, 91%,0.35);
    border-radius: 0.5rem;
    padding: 10px;
    color: hsl(234, 85%, 45%);
}
#hundred{
    color:grey;
}
#digit{
    color: hsl(224, 30%, 27%);
}

button:hover{
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-color: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    cursor: pointer;
}
#summary{
    color:hsl(224, 30%, 27%);
}
.two p{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 700px){
    body{
        background-color: hsl(0, 0%, 100%);
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin-top: -20px;
        
    }
    .score{
        width: 20%
    }
    .one{
        width:86%;
        align-items: center;
        justify-content: center;
    
    }    
    .two{
        width: 90%;

    }
    .two{
        width: 90%;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #two{
        margin-left: 150px;
    }
    #visual #two{
        margin-left: 170px;
    }
    #verbal #two{
        margin-left:165px;
    }
    
}

@media (max-width:420px) {
    .one{
        width: 85.5%;
    }
    body{
        padding: 0;
        margin: 0;
    }
    
}
@media (max-width:400px){
    .one{
        width:84.7%;
    }
    .score{
        width: 30%;
    }
    #two{
        margin-left: 120px;
    }
    #visual #two{
        margin-left: 140px;
    }
    #verbal #two{
        margin-left:135px;
    }
    body{
        padding: 0;
        margin: 0;
    }
}
@media (max-width:360px){
    .one{
        width:83.5%;
    }
    .score{
        width: 30%;
    }
    #two{
        margin-left: 90px;
    }
    #visual #two{
        margin-left: 110px;
    }
    #verbal #two{
        margin-left:105px;
    }
    body{
        padding: 0;
        margin: 0;
    }

}
@media (max-width:320px) {
    .one{
        width:81.2%;
        align-items: center;
        justify-content: center;
    } 
    #two{
        margin-left: 60px;
    }
    #visual #two{
        margin-left: 78px;
    }
    #verbal #two{
        margin-left:75px;
    }
    .score{
        width: 35%;
    }
    body{
        padding: 0;
        margin: 0;
    }

}
